<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Home Page</h1>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora distinctio perspiciatis laboriosam quia pariatur dolore voluptatum ducimus, dolorum quidem ullam omnis, neque nostrum magnam quae officiis veritatis! Fugit, esse porro.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora distinctio perspiciatis laboriosam quia pariatur dolore voluptatum ducimus, dolorum quidem ullam omnis, neque nostrum magnam quae officiis veritatis! Fugit, esse porro.</p>
</body>
</html>