<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random</title>
</head>

<body>
    <h1>Your random number is: <%= random %></h1>

    <% if (random % 2 === 0) { %>
    <p>That is an even number!</p>
    <% } else { %>
    <p>That is an odd number!</p>
    <% } %>

    <h3>This is an <%= random % 2 === 0 ? 'EVEN' : 'ODD' %> number</h3>
</body>

</html>